.DS_Store
*.ipynb_checkpoints
*.pytest_cache
*.pyc
*__pycache__
/chest_xray_downsampled
chest_xray_all_data.h5
chest_xray_all_with_augmentation_data.h5
chest_xray_downsampled_data.h5
chest_xray_downsampled_with_augmentation_data.h5
/index_files
